{% load static %}

<html>
    <head>

    </head>
    <body>
        
        <img style="height:100px;width:770px;margin-left:400px;" src="{% static 'Gates.png' %}">
        <img style="height:400px;width:1470px;" src="{% static 'ai.jpeg'    %}">
        
        <h3 style="font-size: 30px;"><i> Artificial Intelligence:</i></h3><div style="width:810px;text-align: justify;text-justify: inter-word;;font-size: 20px;">
            <p><h3>About Department:</h3>
                Computer science acts at the epicenter of this new age of information and it is an ever-changing field that requires persistence, flexibility, and adaptability, but leads to highly rewarding careers with exciting and challenging opportunities.
                <br><br>The Department of Computer Science and Engineering (CSE) was established in the year 2001 with a modest intake of 45 into UG program in CSE (B.Tech.).The Intake was increased to 60 in the year 2001, 90 in 2008 and further increased to 120 in 2010. The Department started UG program in ‘Computer Science and Engineering with Artificial Intelligence‘ as specialization with an intake of 60 in the year 2020 and increased it to 120 for AY 2021-2022.
                <br><br>The CSE Department comprises of faculty who are not just very experienced academically but also has understanding about the latest industry advancements. Its knowledgeable faculty members are engaged in encouraging relevant educational and innovative research across the leading areas of computer science and engineering.The department with well-established labs is all equipped in preparing the students in computer science Engineering, an ever-evolving discipline, and its latest developments. We proudly announce that many of our alumni are leaders in academia, industry and government.
                <br><br>The Department regularly organizes various activities such as Seminars, Workshops, Technical Symposia and Guest Lectures with an aim to provide awareness, exposure and hands on experience to the students in latest technologies and better prepare them for the future.
                <br><br>The Department is headed by Dr. A L Sreenivasulu , who has 19 years of teaching experience. The department has well qualified, dedicated and experienced faculty and committed supporting staff.
            </p>
        
        </div>
        <div style="height:600px;width:600px;margin-left:850px;margin-top:-650px;">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab11.jpg'  %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab0.jpg' %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab1.jpg' %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab2.jpg' %}">
        </div>
    </body>
</html>