{% load static %}

<html>
    <head>

    </head>
    <body>
        
        <img style="height:100px;width:770px;margin-left:400px;" src="{% static 'Gates.png' %}">
        <img style="height:400px;width:1470px;" src="{% static 'civil.jpg'    %}">
        
        <h3 style="font-size: 30px;"><i> Civil Engineering:</i></h3><div style="width:810px;text-align: justify;text-justify: inter-word;;font-size: 20px;">
            <p><h3>About Department:</h3>
                Civil Engineering is the improvement of Society through the application of scientific knowledge. Civil engineering traditionally has been sub divided into many other engineering specializations such as Environmental Engineering, Transportation Engineering, Structural Engineering, Earthquake Resistant Engineering, Bridge Engineering, Water Resource Engineering, Geo-technical Engineering, Coastal Engineering, Municipal or Urban Development and Planning and many more.
                <br><br>As the Civil Engineering World is so diverse, Civil Engineers have the most varied career options out of all the major disciplines. Civil Engineers have many career opportunities in both public and private sectors.
                <br><br>@ Gates, the Civil Engineering department was established in the year 2012 with an intake of 60 students which was increased to 120 in the year 2013. Dr T. Raghunath Reddy, (Retired Professor from JNTUA), with all his experience and expertise, has carefully nurtured and grown this department, the department offers best labs and infrastructure for the students to enhance their knowledge in the area of Civil Engineering.
                <br><br>The Department is headed by Mr.J Ritesh . The department has well qualified, dedicated and experienced faculty and committed supporting staff.   
                Vision and Mission
                DEPARTMENT VISION
                To impart the best technical education instilled with discipline, values and leadership qualities that will produce professional technocrats in Civil Engineering.

                <br><br><b>Department Mission:</b>

                <br><br>1.To impart fundamental Civil Engineering concepts and a broad set of technical skills.
                <br><br>To prepare Civil Engineering graduates who will engage effectively and responsibly in practicing engineering.
                <br><br>To impart practical exposure on latest technological developments in Civil Engineering.
                <br><br><h3>Programme Educational Objectives (PEOs):</h3>
                <b>On successful completion of UG in Civil Engineering, the Graduates will:</b>
                <br><br>1.Have successful career in the diversified sectors of the engineering industry and/or higher studies by acquiring knowledge in mathematical, scientific and engineering fundamentals
                <br><br>2.Adapting global changes through professionalism, multidisciplinary approach and ethical behavior for workable and economically feasible civil engineering solutions
                <br><br>3.Exhibit professionalism, ethical approach, communication skills, team work in their profession and adapt to modern trends by engaging in lifelong learning.

                <br><br><h3>Programme Outcomes (POs):</h3>
                On successful completion of UG in Civil Engineering, The graduate will have an ability to
                <br><br>1.Apply the knowledge of mathematics, science, engineering fundamentals, and an engineering fundamentals to the solution of complex civil engineering problems..
                <br><br>2.Identify, formulate, research literature, analyze complex engineering problems in Civil engineering using first principles of mathematics, natural sciences and engineering sciences
                <br><br>3.Plan, and design civil engineering systems, components or processes as per relevant codes of practice, user requirements and constraints.
                <br><br>4.Use research-based knowledge and research methods including design of experiments, analysis and interpretation of data, and synthesis of the information to provide valid conclusions.
                <br><br>5.Create, select, and apply appropriate techniques, resources, and modern engineering and IT tools including prediction and modeling to complex engineering activities with an understanding of the limitations.
                <br><br>6.Apply reasoning informed by the contextual knowledge to assess societal, health, safety, legal and cultural issues and the consequent responsibilities relevant to the professional engineering practice.
                <br><br>7.Demonstrate the knowledge of engineering solutions, contemporary issues understanding their impacts on societal and environmental contexts, leading towards sustainable development
                <br><br>8.Apply ethical principles and commit to professional ethics, responsibilities and norms of the engineering practice.
                <br><br>9.Apply the skills effectively as an individual, and as a member or leader in diverse teams, and in multidisciplinary settings
                <br><br>10.Apply the Communicate skills effectively with the engineering community and with society at large. Be able to comprehend and write effective reports documentation. Make effective presentations, and give and receive clear instructions.
                <br><br>11.Apply the knowledge and understanding of the engineering and management principles in to one’s own work, as a member and leader in a team, to manage projects and in multidisciplinary environments.
                <br><br>12.Recognize the need for lifelong learning and to engage in it.
            </p>
        
        </div>
        <div style="height:600px;width:600px;margin-left:850px;margin-top:-2050px;">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab11.jpg'  %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab0.jpg' %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab1.jpg' %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab2.jpg' %}">
        </div>
    </body>
</html>