{% load static %}
<style>
        #mb{margin-top:-850;background: rgb(2, 20, 82);position:relative;width:1000px;height:40px; margin-left:220px;padding-bottom: 5px;padding-top: 10px;}

</style>

        <div id="allclubs" style="margin-left:-90px;margin-top:50px;width:1300px;">
            <img src="{% static 'python club.jpg' %}" width="200px;" height="200px;" style="margin-left:100px;">
            <img src="{% static 'coding club logo .jpg' %}" width="200px;" height="200px;" style="margin-left:50px;">
            <img src="{% static 'debate club logo.jpg' %}" width="200px;" height="200px;" style="margin-left:50px;">
            <img src="{% static 'Euphoria club1.png' %}" width="200px;" height="200px;" style="margin-left:50px;background:white;">
            <img src="{% static 'graphic club.jpg' %}" width="200px;" height="200px;" style="margin-left:100px;">
            <img src="{% static 'idea club.jpg' %}" width="200px;" height="200px;" style="margin-left:50px;margin-top:30px;">
            <img src="{% static 'Speaking club.jpg' %}" width="200px;" height="200px;" style="margin-left:50px;margin-top:50px;">
            <img src="{% static 'Women.png' %}" width="200px;" height="200px;" style="margin-left:50px;margin-top:50px;">
            <img src="{% static 'li0.jpg' %}" width="200px;" height="200px;" style="margin-left:100px;margin-top:50px;">
            <img src="{% static 'innerwheel.jpg' %}" width="200px;" height="200px;" style="margin-left:50px;margin-top:50px;">
            <img src="{% static 'cr.jpg' %}" width="200px;" height="200px;" style="margin-left:50px;margin-top:50px;">
            <img src="{% static 'projectlogo.jpg' %}" width="200px;" height="200px;" style="margin-left:50px;margin-top:50px;">
            <div id="python" style="height:40px;width:200px;margin-left:100px;margin-top:-550px;background: black;position:absolute;">
                <a href="http://127.0.0.1:8000/pythonclub"><button style="background:transparent;border:transparent;color:white;height:40px;width:200px;" >Python Club</button></a>

            </div>
            <div id="coding club" style="height:40px;width:200px;margin-left:354px;margin-top:-550px;background: black;position:absolute;">
                <a href="http://127.0.0.1:8000/codeingclub"><button style="background:transparent;border:transparent;color:white;height:40px;width:200px;" >Coding Club</button></a>

            </div>
            <div id="debate club" style="height:40px;width:200px;margin-left:606px;margin-top:-550px;background: black;position:absolute;">
                <a href="http://127.0.0.1:8000/debateclubs"><button style="background:transparent;border:transparent;color:white;height:40px;width:200px;" >Debate Club</button></a>

            </div>
            <div id="Euphoria"style="height:40px;width:200px;margin-left:862px;margin-top:-550px;background: black;position:absolute;">
                <a href="http://127.0.0.1:8000/euphoria"><button style="background:transparent;border:transparent;color:white;height:40px;width:200px;" >Euphoria Club</button></a>

            </div>
            <div id="graphic"style="height:40px;width:200px;margin-left:100px;margin-top:-300px;background: black;position:absolute;">
                <a href="http://127.0.0.1:8000/graphicclubs"><button style="background:transparent;border:transparent;color:white;height:40px;width:200px;" >Graphic Club</button></a>

            </div>
            <div id="idea"style="height:40px;width:200px;margin-left:354px;margin-top:-300px;background: black;position:absolute;">
                <a href="http://127.0.0.1:8000/ideaclubs"><button style="background:transparent;border:transparent;color:white;height:40px;width:200px;" >Idea club</button></a>

            </div>
            <div id="Speaking"style="height:40px;width:200px;margin-left:606px;margin-top:-300px;background: black;position:absolute;">
                <a href="http://127.0.0.1:8000/speakingclubs"><button style="background:transparent;border:transparent;color:white;height:40px;width:200px;" >Speaking Club</button></a>

            </div>
            <div id="python1"style="height:40px;width:200px;margin-left:862px;margin-top:-300px;background: black;position:absolute;">
                <a href="http://127.0.0.1:8000/womenclubs"><button style="background:transparent;border:transparent;color:white;height:40px;width:200px;" >Women Club</button></a>

            </div>
            <div id="python2"style="height:40px;width:200px;margin-left:100px;margin-top:-40px;background: black;position:absolute;">
                <a href="http://127.0.0.1:8000/literacyclubs"><button style="background:transparent;border:transparent;color:white;height:40px;width:200px;" >Literacy Clubs</button></a>
            </div>
            <div id="python3"style="height:40px;width:200px;margin-left:354px;margin-top:-40px;background: black;position:absolute;">
                <a href="http://127.0.0.1:8000/innerwheel"><button style="background:transparent;border:transparent;color:white;height:40px;width:200px;" >Innerwheel Club</button></a>

            </div>
            <div id="python2"style="height:40px;width:200px;margin-left:606px;margin-top:-40px;background: black;position:absolute;">
                <a href="http://127.0.0.1:8000/campusradio"><button style="background:transparent;border:transparent;color:white;height:40px;width:200px;" >Campas Radio club</button></a>
            </div>
            <div id="python3"style="height:40px;width:200px;margin-left:862px;margin-top:-40px;background: black;position:absolute;">
                <a href="http://127.0.0.1:8000/project"><button style="background:transparent;border:transparent;color:white;height:40px;width:200px;" >Project Club</button></a>

            </div>
            
        </div>
    <div id="update" style="margin-left:1000px;height:700px;width:450px;margin-top:-700px;background:white;opacity:0.4;position:relative;">
        <div id="updatehead" style="text-align:center;height:40px;font-size: 30px;color:white;background: black;opacity:1">
        Clubs Updates
        </div>
        <div id="updatepost">
        <div   style="margin-left:30px;height:650px;overflow-y:auto;" >
            <a href="https://forms.gle/YBqWS4WXfxgxDiRY6"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Python exam link </button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>
            <a href="speakingclubs"><button style="background:transparent;border:transparent;color:black;height:40px;width:200px;" >Speaking</button></a>

            
        </div>
        </div>
    </div>
