{% load static %}

<html>
    <head>

    </head>
    <body>
        <img style="height:100px;width:770px;margin-left:400px;" src="{% static 'Gates.png'    %}">
        <img style="height:400px;width:1470px;background:green;" src="{% static 'coding club.png'    %}">
        
        <h3 style="font-size: 30px;"><i> Coding Club:</i></h3><div style="width:810px;text-align: justify;text-justify: inter-word;;font-size: 20px;">
            <p>The Coding Club is perfect for those interested in learning and practicing different programming languages. Members can participate in online coding tutorials and work on coding projects together. The club can also host virtual coding competitions and hackathons to encourage members to apply their coding skills. The club can use online platforms like Codecademy or Github to learn and collaborate on coding projects.
                A coding club can be easily implemented in an online club management system. Here are some features and functionalities that can be included:
                
                <h3>Member Registration:</h3>Members can register for the coding club through the online club management system. The registration process can be customized to include additional information like their coding experience and interests.Discussion Forum: The online club management system can include a discussion forum where members can interact with each other and share their knowledge and experiences. Members can also ask questions and seek help from other members.
                <h3>Event Calendar:</h3> The system can have an event calendar where upcoming coding club events, workshops, and meetings can be listed. Members can RSVP for events they plan to attend.
                <h3>Coding Challenges:</h3> The online club management system can organize coding challenges for members. Members can compete against each other and showcase their coding skills.
                <h3>Communication:</h3> The system can include communication tools like email, messaging, and notifications to keep members informed about club activities, events, and updates.
 
                </p>
            <br><br><br><br>President 		: S.Jafar Vali  <br><br>
        Vice president	: S.Shabrin<br><br>
        Secretary 		: Nandini Devi<br><br>
        
        </div>
        <div style="height:600px;width:600px;margin-left:850px;margin-top:-1000px;">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'coding club logo .jpg' %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'cc1.jpg'    %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'cc2.jpg'    %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'cc3.jpg'    %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'cc4.jpg'    %}">
        </div>
    </body>
</html>