{% load static %}

<html>
    <head>

    </head>
    <body>
        
        <img style="height:100px;width:770px;margin-left:400px;" src="{% static 'Gates.png' %}">
        <img style="height:400px;width:1470px;" src="{% static 'cse.jpg'    %}">
        
        <h3 style="font-size: 30px;"><i>Computer Science and Engineering: </i></h3><div style="width:810px;text-align: justify;text-justify: inter-word;;font-size: 20px;">
            <p>
                <h3>About Department:</h3>Computer science acts at the epicenter of this new age of information and it is an ever-changing field that requires persistence, flexibility, and adaptability, but leads to highly rewarding careers with exciting and challenging opportunities.
                <br><br>The Department of Computer Science and Engineering (CSE) was established in the year 2001 with a modest intake of 45 into UG program in CSE (B.Tech.). The Intake was increased to 60 in the year 2001, 90 in 2008 and further increased to 120 in 2010. The Department started PG program (M.Tech.) in ‘Computer Science and Engineering’ with an intake of 18 in the year 2011 and increased it to 36 in 2013.
                <br><br>The CSE Department comprises of faculty who are not just very experienced academically but also has understanding about the latest industry advancements. Its knowledgeable faculty members are engaged in encouraging relevant educational and innovative research across the leading areas of computer science and engineering.The department with well-established labs is all equipped in preparing the students in computer science Engineering, an ever-evolving discipline, and its latest developments. We proudly announce that many of our alumni are leaders in academia, industry and government.
                <br><br>The Department regularly organizes various activities such as Seminars, Workshops, Technical Symposia and Guest Lectures with an aim to provide awareness, exposure and hands on experience to the students in latest technologies and better prepare them for the future.
                <br><br>The Department is headed by Dr. P. Namurtha , who has fiveteen years of teaching experience. The department has well qualified, dedicated and experienced faculty and committed supporting staff.
                <br><br><h3>Vision and Mission:</h3>
                <br><h3>Department Vision:</h3>To impart the best technical education instilled with discipline, values and leadership qualities that will produce professional technocrats in Computer Science and Engineering.
                <br><h3>Department Mission:</h3>
                1.To impart fundamental Computer Science and Engineering concepts and a broad set of technical skills.
                <br><br>2.To prepare Computer Science and Engineering graduates who will engage effectively and responsibly in practicing engineering.
                <br><br>3.To impart practical exposure on latest technological developments in Computer Science and Engineering.
                <br><br><h3>Programme Educational Objectives (PEOs):</h3>
                <b>The B. Tech CSE graduates will be able to:</b>
                <br><br>1.Take up professional career with expertise in analyzing and solving CSE related problems.
                <br><br>2.Pursue higher studies and succeed in research with rich knowledge in emerging technologies.
                <br><br>3.Continue learning and to adopt technological developments combined with deep awareness of ethical responsibilities in their profession.
                <br><br><h3>Programme Outcomes (POs):</h3>
                <b>On successful completion of UG in Computer Science and Engineering, The students will be able to:</b>
                <br><br>1.Apply knowledge of mathematics, science, engineering fundamentals to solve engineering problems.
                <br><br>2.Identify, analyze and formulate the appropriate solutions to solve Computer Science related problems.
                <br><br>3.Design and construct a computing system or process to meet the societal needs, within realistic constraints.
                <br><br>4.Analyze and design an algorithm to interpret data to provide solutions to solve complex problems.
                <br><br>5.Use modern tools and techniques to analyze the performance of various methods.
                <br><br>6.Propose innovative ideas by considering the societal, health, safety and legal issues.
                <br><br>7.Understand the contemporary issues of society by providing solutions for sustainable development.
                <br><br>8.Work as professional by practicing ethical and social responsibilities.
                <br><br>9.Demonstrate the management skills to work as an individual, member of a team or as a leader in multi-disciplinary areas.
                <br><br>10.Communicate effectively through written and oral skills with outside world and engineering fraternity.
                <br><br>11.Understand and apply project and finance management skills to carry out projects.
                <br><br>12.Continue as computing professional by practicing lifelong learning.
            
            </p>
        
        </div>
        <div style="height:600px;width:600px;margin-left:850px;margin-top:-2250px;">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab11.jpg'  %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab0.jpg' %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab1.jpg' %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab2.jpg' %}">
        </div>
    </body>
</html>