{% load static %}

<html>
    <head>

    </head>
    <body>
        <img style="height:100px;width:770px;margin-left:400px;" src="{% static 'Gates.png' %}">
        <img style="height:400px;width:1470px;" src="{% static 'debate .jpg'    %}">
        
        <h3 style="font-size: 30px;"><i> Debate Club:</i></h3><div style="width:810px;text-align: justify;text-justify: inter-word;;font-size: 20px;"><p>
            Most schools will have a debate club. This is a club where students can get together and practice arguing over set topics. Some debate clubs follow a structured format for debate whereas others just like to discuss trending political or social topics. 
            <br><br>Usually, there will be two sides arguing over a set topic. At the end of the debate, either the audience vote or the judges – usually the teacher running the club – will declare a winning side and give everyone feedback on their performance.
             
            
        </p><br><br><br>President 		: S.Shameer <br><br>
        Vice president	: G.Ruchita<br><br>
        Secretary 		: Koushalya<br><br>
        
        </div>
        <div style="height:600px;width:600px;margin-left:850px;margin-top:-450px;">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'debate club logo.jpg'    %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'dc1.jpg'   %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'dc2.jpg' %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'dc3.jpg' %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'dc4.jpg' %}">
        </div>
    </body>
</html>