{% load static %}
<style>
    #mb{margin-top:-850;background: rgb(2, 20, 82);position:relative;width:1000px;height:40px; margin-left:220px;padding-bottom: 5px;padding-top: 10px;}

</style>
        
        <div id="allclubs" style="margin-left:70px;margin-top:50px;width:1500px;">
            <img src="{% static 'cse.jpg' %}" width="200px;" height="200px;" style="margin-left:100px;">
            <img src="{% static 'ai.jpeg' %}" width="200px;" height="200px;" style="margin-left:50px;">
            <img src="{% static 'ds.jpg' %}" width="200px;" height="200px;" style="margin-left:50px;">
            <img src="{% static 'eee.png' %}" width="200px;" height="200px;" style="margin-left:50px;">
            <img src="{% static 'civil.jpg' %}" width="200px;" height="200px;" style="margin-left:50px;">
            <img src="{% static 'mech.jpg' %}" width="200px;" height="200px;" style="margin-left:100px;margin-top:50px;">
            <img src="{% static 'ece.jpg' %}" width="200px;" height="200px;" style="margin-left:50px;margin-top:50px;">
            <img src="{% static 'h&b.jpg' %}" width="200px;" height="200px;" style="margin-left:50px;margin-top:50px;">
            <img src="{% static 'mbamca.jpg' %}" width="200px;" height="200px;" style="margin-left:50px;margin-top:50px;">
            <img src="{% static 'cbs.jpg' %}" width="200px;" height="200px;" style="margin-left:50px;margin-top:50px;">
            <div id="ComputerScienceandEngineering" style="height:40px;width:200px;margin-left:100px;margin-top:-300px;background: black;position:absolute;">
                <a href="http://127.0.0.1:8000/computerscienceandengineering"><button style="background:transparent;border:transparent;color:white;height:40px;width:200px;" >Computer Science and Engineering</button></a>

            </div>
            <div id="computerscienceandengineeringai" style="height:40px;width:200px;margin-left:354px;margin-top:-300px;background: black;position:absolute;">
                <a href="http://127.0.0.1:8000/computerscienceandengineeringai"><button style="background:transparent;border:transparent;color:white;height:40px;width:200px;" >Computer Science and Engineering(AI)</button></a>

            </div>
            <div id="computerscienceandengineeringds" style="height:40px;width:200px;margin-left:606px;margin-top:-300px;background: black;position:absolute;">
                <a href="http://127.0.0.1:8000/computerscienceandengineeringds"><button style="background:transparent;border:transparent;color:white;height:40px;width:200px;" >Computer Science and Engineering(DS)</button></a>

            </div>
            <div id="electricalandelectronicsengineering"style="height:40px;width:200px;margin-left:865px;margin-top:-300px;background: black;position:absolute;">
               <a href="http://127.0.0.1:8000/electricalandelectronicsengineering" ><button style="background:transparent;border:transparent;color:white;height:40px;width:200px;" >Electrical and Electronics Engineering</button></a>

            </div>
            <div id="Civil Engineering"style="height:40px;width:200px;margin-left:1113px;margin-top:-300px;background: black;position:absolute;">
                <a href="http://127.0.0.1:8000/civilengineering"><button style="background:transparent;border:transparent;color:white;height:40px;width:200px;" >Civil Engineering</button></a>

            </div>
            <div id="mechanicalengineering"style="height:40px;width:200px;margin-left:100px;margin-top:-40px;background: black;position:absolute;">
                <a href="http://127.0.0.1:8000/mechanicalengineering"><button style="background:transparent;border:transparent;color:white;height:40px;width:200px;" >Mechanical Engineering</button></a>
            </div>
            <div id="electronicsandcommunicationsengineering"style="height:40px;width:200px;margin-left:354px;margin-top:-40px;background: black;position:absolute;">
                <a href="http://127.0.0.1:8000/electronicsandcommunicationsengineering"><button style="background:transparent;border:transparent;color:white;height:40px;width:200px;" >Electronics and Communications Engineering</button></a>

            </div>
            <div id="humanitiesandbasicsciences"style="height:40px;width:200px;margin-left:606px;margin-top:-40px;background: black;position:absolute;">
                <a href="http://127.0.0.1:8000/humanitiesandbasicsciences"><button style="background:transparent;border:transparent;color:white;height:40px;width:200px;" >Humanities and Basic Sciences</button></a>

            </div>
            <div id="departmentofmanagementstudies"style="height:40px;width:200px;margin-left:862px;margin-top:-40px;background: black;position:absolute;">
                <a href="http://127.0.0.1:8000/departmentofmanagementstudies"><button style="background:transparent;border:transparent;color:white;height:40px;width:200px;" >Department of Management Studies</button></a>

            </div>
            
            <div id="python3"style="height:40px;width:200px;margin-left:1115px;margin-top:-40px;background: black;position:absolute;">
                <a href="http://127.0.0.1:8000/cybersecrity"><button style="background:transparent;border:transparent;color:white;height:40px;width:200px;" > Cyber security</button></a>

            </div>
            
        </div>
    