{% load static %}

<html>
    <head>

    </head>
    <body>
        
        <img style="height:100px;width:770px;margin-left:400px;" src="{% static 'Gates.png' %}">
        <img style="height:400px;width:1470px;" src="{% static 'ece.jpg'    %}">
        
        <h3 style="font-size: 30px;"><i>Electronics and Communication Engineering:</i></h3><div style="width:810px;text-align: justify;text-justify: inter-word;;font-size: 20px;">
            <p><h3>About Department:</h3>
                With the evolution of the computer age, Electronics & Communication have crept into every sphere of human life, thus increasing its scope manifolds. Electronics is now a part of our everyday life, from your pocket FM radio to televisions, computers, mobile phones and even the high-end satellites that are helping us in every path. Studying electronics and communication engineering is the dream of many engineering aspirants due to various reasons - growth, job opportunities, salary range and continuous industry growth.
                <br><br>At Gates, we have an excellent and well established Department of Electronics and Communication Engineering (ECE). The Department was started in 2001 with 60 seats in UG program. This intake increased to 90 in 2004, 120 in 2010 and 180 in 2011. The department also started a PG program in VLSI and Embedded System Design in 2012 with an intake of 18.
                <br><br>The department has a team of well-qualified, experienced and committed faculty with industrial and research background. They carefully nurture the young engineers and lay down a strong foundation in both technological and analytical aspects. The department has well established Electronics laboratories with state of art facilities. The department uses audio visual teaching aids such as, models, charts and LCD projectors for effective teaching. Students of our department are encouraged to actively participate in technical events and national level paper presentations and few of them got awarded in those events.
                <br><br>The department has IETE Association through which students are allowed to enrich their technical knowledge by organizing and attending national level workshops, seminars and working model exhibitions. The activities under the flagship of various associations have given an ample scope for both student and teaching community to get acquainted with latest developments in areas like Digital Image Processing, Embedded Systems, Mobile & Satellite Communications and much more.
                <br><br>The Department is headed by Mr.M.Imthiyaz Basha M.Tech, who has 14 years of teaching experience. The department has well qualified, dedicated and experienced faculty and committed supporting staff.
                <h3>Vision and Mission:</h3>
                <b>Department Vision:</b>
                <br><br>"To impart the best technical education instilled with discipline, values and leadership qualities that will produce professional technocrats in Electronics and Communication Engineering."
                <br><h3>Department Mission:</h3>
                1.To impart fundamental Electronics and Communication Engineering concepts and a broad set of technical skills.
                <br><br>2.To prepare Electronics and Communication Engineering graduates who will engage effectively and responsibly in practicing engineering.
                <br><br>3.To impart practical exposure on latest technological developments in Electronics and Communication Engineering.

                <br><h3>Programme Educational Objectives (PEOs):</h3>
                <b>On successful completion of UG in Electronics and Communication Engineering, the Graduates will:</b>
                <br><br>1.Acquire adequate knowledge in the field of Electronics and Communication Engineering to have a successful career.
                <br><br>2.Pursue higher studies with the focusing on R&D activities in the related areas.
                <br><br>3.Take up entrepreneurship by practicing lifelong learning with innovation

                <br><br><b>Programme Outcomes (POs):</b>
                <br><br>On successful completion of UG in Electronics and Communication Engineering, The graduate will have an ability to
                <br><br>1.Apply the knowledge of Mathematics, Science and Engineering to solve the engineering problems in analog and digital electronic systems.
                <br><br>2.Identify, formulate and analyze the problems from the various issues of communication systems.
                <br><br>3.Design Analog and digital systems to meet the desired needs within a realistic constraint.
                <br><br>4.Design a circuit, conduct experiments, analyze and interpret the results to Provide valid conclusions.
                <br><br>5.Use modern tools to simulate electronic systems and analyze the performance of various models.
                <br><br>6.Develop electronic systems and solutions to meet the societal needs, considering awareness of security, health and legal issues.
                <br><br>7.Provide innovative ideas by understanding the impact of engineering solutions for the sustainable developments.
                <br><br>8.Function with professional ethics and social responsibilities.
                <br><br>9.Work as an individual, member of a team or leader in multidisciplinary activities.
                <br><br>10.Communicate effectively with outside world and engineering fraternity.
                <br><br>11.Demonstrate the knowledge of project and finance management skills to carry out projects in multidisciplinary environment.
                <br><br>12.Engage lifelong learning and to adapt rapidly changing technologies.
            </p>
        
        </div>
        <div style="height:600px;width:600px;margin-left:850px;margin-top:-2200px;">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab11.jpg'  %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab0.jpg' %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab1.jpg' %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab2.jpg' %}">
        </div>
    </body>
</html>