{% load static %}

<html>
    <head>

    </head>
    <body>
        
        <img style="height:100px;width:770px;margin-left:400px;" src="{% static 'Gates.png' %}">
        <img style="height:400px;width:1470px;" src="{% static 'eee.png'    %}">
        
        <h3 style="font-size: 30px;"><i>Electrical and Electronics Engineering:</i></h3><div style="width:810px;text-align: justify;text-justify: inter-word;;font-size: 20px;">
            <p><h3>About Department:</h3>
                "Electrical energy" is the backbone of industrial world of today. Availability of sufficient electrical energy and its proper use in any country can result in its people rising from subsistence level to the highest standard of living. The harnessing of electricity as a source of energy to light and drive our world has been an important milestone for humankind.
                <br><br>Electronics has added a new dimension to the usage of electricity and enabled amazing applications and a level of miniaturization that is getting more difficult to believe. Further comfort, convenience and safety of large population all over the world depend on electrical power. The Electrical & Electronics Engineer with skills that are focused on using technology for human convenience and advancement will have an important role in future.
                <br><br>The department of Electrical & Electronics Engineering was established in 2004 with an intake of 60 and which was increased to 120 in 2012. The Department is offering one Post Graduate Program with the specialization in Electrical Power Systems with an intake of 18. Department is affiliated to Jawaharlal Nehru Technology University, Anantapuramu.
                <br><br>The Department’s aim is to train the students in contemporary knowledge and innovative skills, both functional and integrative, in the discipline of Electrical & Electronics Engineering. The department focuses on laying a strong foundation in basic concepts to the students.
                <br><br>The Department is headed by Mrs. Dr.Syed Suraya M.Tech.,Ph.D. who has 14 years of teaching experience. The department has well qualified, dedicated and experienced faculty and committed supporting staff.
                <br><br><h3>Vision and Mission</h3>
                <b>DEPARTMENT VISION</b>
                To impart the best technical education instilled with discipline, values and leadership qualities that will produce professional technocrats in Electrical and Electronics Engineering.

                <h3>Department Mission:</h3>
                1.To impart fundamental Electrical and Electronics Engineering concepts and a broad set of technical skills.
                <br><br>2.To prepare Electrical and Electronics Engineering graduates who will engage effectively and responsibly in practicing engineering.
                <br><br>3.To impart practical exposure on latest technological developments in Electrical and Electronics Engineering.
                
                <br><br><h3>Programme Educational Objectives (PEOs):</h3>
                <b>On successful completion of UG in electrical and electronics engineering, the Graduates will:</b>
                <br><br>1.Have a successful professional career with a strong foundation in basic sciences, along with in-depth knowledge of electrical engineering.
                <br><br>2.Pursue higher studies to contribute for the betterment of the society.
                <br><br>3.Continue in their chosen profession by practicing lifelong learning.
                <br><br><h3>Program Outcomes (POs):</h3>
                1.On successful completion of UG in Electrical and Electronics Engineering, The graduate will have an ability to
                <br><br>2.Apply the knowledge of mathematics, basic Sciences, Electrical and Electronics Engineering to solve complex problems in modern engineering practice.
                <br><br>3.Analyze the complex problems related to power generation, transmission, and distribution.
                <br><br>4.Design and develop the electrical and electronics products to meet the society needs.
                <br><br>5.Demonstrate an ability to identify, formulate and solve electrical and electronics problems.
                <br><br>6.Use modern electrical and electronic engineering techniques and tools to measure the performance of various models.
                <br><br>7.Innovate the ideas about health safety and legal issues.
                <br><br>8.Demonstrate the knowledge of electrical devices and need for sustainable development.
                <br><br>9.Demonstrate professional ethics social responsibilities.
                <br><br>10.Interact professionally as an individual, as a member of a team or leader to contribute in multi-disciplinary activities.
                <br><br>11.Communicate effectively both oral and the written.
                <br><br>12.Use project and finance management skills in carrying out various projects.
                <br><br>13.Engage lifelong learning to enhance the confidence levels.
            </p>
        
        </div>
        <div style="height:600px;width:600px;margin-left:850px;margin-top:-2100px;">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab11.jpg'  %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab0.jpg' %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab1.jpg' %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab2.jpg' %}">
        </div>
    </body>
</html>