{% load static %}

<html>
    <head>

    </head>
    <body>
        <img style="height:100px;width:770px;margin-left:400px;" src="{% static 'Gates.png' %}">
        <img style="height:400px;width:1470px;" src="{% static 'Graphic-designer.jpg'   %}">
        
        <h3 style="font-size: 30px;"><i> Graphic Designer Club:</i></h3><div style="width:810px;text-align: justify;text-justify: inter-word;font-size: 20px;"><p>
            Graphic designer is a person who has knowledge and skills regarding designing graphics such as social media posters,web posters, infographics, social posts, logo, banners, brochures, covers and various other things. These things have major Role in digital marketing to attract attention of buyer. This person is one of the important person who plays an essential part in website designing and management. It takes a lot of time and practice to for a person to learn and understand graphic designing and its tools.
            <br><br>There are many tools present in the market which, in hands of a skilled graphic designer can help resulting out some great designs, ideas and graphics. Whether it’s a start of a company/brand or maintaining and managing a website’s or your business reputation on social media platform and internet, a graphic design performs all these task with perfection.
    </p><br><br><br>President 		: P.Krishna Prasad <br><br>
        Vice president	: C.Naveen Kumar<br><br>
        Secretary 		: B.Gayatri<br><br>
        
        </div>
        <div style="height:600px;width:600px;margin-left:850px;margin-top:-500px;">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'graphic club.jpg'  %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'gdc1.jpg'  %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'gdc2.jpg'  %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'gdc3.jpg'  %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'gdc4.jpg'  %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'gdc5.jpg'  %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'gdc6.jpg'  %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'gdc7.jpg'  %}">
        </div>
    </body>
</html>