{% load static %}

<html>
    <head>

    </head>
    <body>
        
        <img style="height:100px;width:770px;margin-left:400px;" src="{% static 'Gates.png' %}">
        <img style="height:400px;width:1470px;" src="{% static 'h&b.jpg'    %}">
        
        <h3 style="font-size: 30px;"><i> Humanities and Basic Sciences:</i></h3><div style="width:810px;text-align: justify;text-justify: inter-word;;font-size: 20px;">
            <p><h3>About Department:</h3>
                The Department of Humanities and Basic Sciences lays down a strong foundation to understand the core engineering courses and help students perform better in their respective streams of engineering and also acquire better communication skills. They also teach the importance of having values and professional ethics.The Department is headed by Dr. G.HariPriya.
                <br><h3>Basic Sciences:</h3>
                <br>The Department comprises Mathematics, Physics and Chemistry disciplines. Since its inception in 2001 the department has been successfully imparting knowledge in these diverse subjects to the students and preparing them to meet the challenges of both technical and non-technical fields.
                <br><br>The Department is having highly qualified and experienced faculty and supporting staff. The faculty is actively involved in research work and publishing papers in various journals. The Department conducts seminars and workshops for the benefit of students on interdisciplinary and general topics of contemporary importance. The Department has well-equipped laboratories for Engineering Chemistry and Engineering Physics. The laboratories have necessary infrastructure to train the students as per the curriculum.
                <br><br><h3>Humanities:</h3>
                <br>The Department of Humanities teaches English Language and communication. It consists of highly qualified and experienced faculty members. In the classroom, the faculty members create an environment that encourages active participation of students, which in turn builds the confidence of the students.
                <br><br>Department regularly conducts group discussions, paper presentations, essay writing and Elocution competitions. It also runs a magazine ‘Gates Wall Journal’ which portrays the creative talent of the students.
                <br><br>Our college believes that along with technical knowledge, soft skills and communication skills are vital to the success of the engineering graduates when it comes to job placements.
                <br><br>The department addresses this organization’s requirement by grooming the graduating engineers in communication & interpersonal skills. To further hone the soft skills of the students the Department has a well-equipped English language lab with a capacity of 60 computers consisting communication-related interactive programs.
                <br><br>The department is headed by Dr. G.HariPriya Ph.D. who has 16 years of teaching experience. The department has well qualified, dedicated and experienced faculty and committed supporting staff.


            </p>
        
        </div>
        <div style="height:600px;width:600px;margin-left:850px;margin-top:-1100px;">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab11.jpg'  %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab0.jpg' %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab1.jpg' %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab2.jpg' %}">
        </div>
    </body>
</html>