{% load static %}

<html>
    <head>

    </head>
    <body>
        <img style="height:100px;width:770px;margin-left:400px;" src="{% static 'Gates.png' %}">
        <img style="height:400px;width:1470px;" src="{% static 'idea club.jpg' %}">
        
        <h3 style="font-size: 30px;"><i>Idea Club:</i></h3><div style="width:810px;text-align: justify;text-justify: inter-word;font-size: 20px;">
            <p>
                To provide platform for innovative ideas, the institute has commenced “Idea Club”, where in the students across the disciplines present their ideas in an interactive sessions. To further help the students and faculty, the institute has established GATES Incubation/Innovation Center “GIC” which we passionately named as “GATES IDEA LAB”. It was established in the year 2018. This is to give the students a platform for hands on experience to work on their ideas and innovations, facilitating students to convert their ideas into working prototypes, getting IP rights over their innovations and providing students to present their ideas in Hackthons and promoting students to become entrepreneurs and technology developers. This will also be useful for the students for their mini projects and major projects which they carry out as part of their academic curriculum.
                <br><br>An "Idea Club" in an online club management system could be a virtual space where members of the club can share, discuss and collaborate on new ideas related to the club's purpose or goals. Here are some features that an Idea Club could have:
                <br><br><h3>Idea Submission:</h3> Members can submit their ideas for consideration by the rest of the club. This can be done through a simple form where they can describe their idea in detail.
                <br><br><h3>Idea Discussion:</h3> Once an idea is submitted, other members of the club can see it and discuss it in a dedicated forum. Members can share their thoughts, ask questions, and offer feedback.
                <br><br><h3>Idea Implementation:</h3> Once an idea has received enough support, the club can move forward with implementing it. This may involve assigning tasks to different members, setting a timeline, and monitoring progress.
                <br><br><h3>Idea Archive:</h3> To keep track of past ideas, the club can maintain an archive where members can browse through previous submissions and see the progress made on ideas that were implemented.

            </p>
        <br><br><br>
        President 	: B.Sunil <br><br>
        Vice president	: Y.Harshitha<br><br>
        Secretary 		: Guna Sindhuja<br><br>
        
        </div>
        <div style="height:600px;width:600px;margin-left:850px;margin-top:-1100px;">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'coding club logo .jpg'   %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'cc1.jpg' %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'cc2.jpg' %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'cc3.jpg' %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'cc4.jpg' %}">
        </div>
    </body>
</html>