{% load static %}

<html>
    <head>

    </head>
    <body>
        <img style="height:100px;width:770px;margin-left:400px;" src="{% static 'Gates.png' %}">
        <img style="height:400px;width:1470px;" src="{% static 'lilogo.jpg'  %}">
        
    <h3 style="font-size: 30px;"><i>Literacy Club:</i></h3><div style="width:810px;text-align: justify;text-justify: inter-word;font-size: 20px;">
            <p>
            Literacy Club The literary club is a paradise for thinkers, readers, and writers. It is the place where students are free to think, read and write on the topics of their interest and choice. The club is also a forum where students share their insights on politics, philosophy, spirituality, philanthropy etc.
            <br><br>A literacy club in an online club management system would be a virtual community of individuals who share an interest in improving their reading, writing, and comprehension skills. Members of the literacy club would be able to connect with one another, share resources, and participate in activities and discussions related to literacy.

        </p><br><br><br>President 		: B.Yasmeen <br><br>
        Vice president	: N.Jayasree<br><br>
        Secretary 		: S.Manasa<br><br>
        
        <div style="height:600px;width:600px;margin-left:850px;margin-top:-400px;">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static  'li0.jpg'  %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static   'li1.jpg'  %}  ">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static   'li2.jpg'  %}  ">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static   'li3.jpg'   %}  ">
            
        </div>
    </body>
</html>