{% load static %}

<html>
    <head>

    </head>
    <body>
        
        <img style="height:100px;width:770px;margin-left:400px;" src="{% static 'Gates.png' %}">
        <img style="height:400px;width:1470px;" src="{% static 'mbamca.jpg'    %}">
        
        <h3 style="font-size: 30px;"><i> Management Studies:</i></h3><div style="width:810px;text-align: justify;text-justify: inter-word;;font-size: 20px;">
            <p><h3>About Department:</h3>
                The department of management studies was established in the year 2007 to impart and promote quality management education. The course is approved by AICTE and the institution is affiliated to JNTUA, Anantapuramu. The main objective of the department is the holistic development of the students in managerial skills and leadership qualities, which are essential to succeed in the competitive business world. The department stands for high academic and ethical values. It encompasses and enriches the students with life sustaining skills and capabilities, as well as it imparts societal consciences and commitment too. The department has departmental library with well stocked text books for reference. The central library caters the information needs by providing adequate reading materials along with repeated journals and magazines on management domain. The digital library serves the additional informative needs of the students in the campus
                <br><br>The Department is headed by Mr.B.Ismail Zabivullah , who has Thirteen years of teaching experience. The department has well qualified, dedicated and experienced faculty and committed supporting staff.
            </p>
        
        </div>
        <div style="height:600px;width:600px;margin-left:850px;margin-top:-450px;">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab11.jpg'  %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab0.jpg' %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab1.jpg' %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab2.jpg' %}">
        </div>
    </body>
</html>