{% load static %}

<html>
    <head>

    </head>
    <body>
        
        <img style="height:100px;width:770px;margin-left:400px;" src="{% static 'Gates.png' %}">
        <img style="height:400px;width:1470px;" src="{% static 'mech.jpg'    %}">
        
        <h3 style="font-size: 30px;"><i> Mechanical Engineering:</i></h3><div style="width:810px;text-align: justify;text-justify: inter-word;;font-size: 20px;">
            <p><h3>About Department:</h3>
                Mechanical Engineering is one of the oldest and broadest disciplines of engineering. Mechanical engineers have always been at the forefront in technological innovation and they continue to lead the world by making important contributions in manufacturing, energy generation, transportation, waste management, health and environment.
                <br><br>@ Gates the Department of Mechanical Engineering was started in 2011 with an intake of 60 students which was increased to 120 in 2013. M Tech in Machine Design was also started in the same year with an intake of 18. The department is continuously striving to achieve excellence in education, academic and industry oriented research.
                <br><br>The Department has a good blend of highly experienced faculty coupled with young talented faculty. They constantly engage and encourage students and instill in them, the ability to apply knowledge of science, mathematics and engineering and the capability to work effectively in multidisciplinary teams, providing leadership and technical expertise.
                <br><br>The Department has well equipped laboratories that provide the needed practical exposure to the students and all these labs are run on uninterrupted solar power. Every year students are taken to Industrial tours to understand the real time industrial environment.
                <br><br>The Department is headed by Dr.P.Naresh M.Tech., Ph.D. who has 5 years of teaching experience. The department has well qualified, dedicated and experienced faculty and committed supporting staff.
                <br><br><h3>Vision and Mission:</h3>
                <br><b>Department Vision:</b>
                <br>To impart the best technical education instilled with discipline, values and leadership qualities that will produce professional technocrats in Mechanical Engineering.

                <br><br><h3>Department Mission:</h3>
                <b>The Department of Mechanical Engineering strives to continually engage in:</b>

                <br><br>1.To impart fundamental Mechanical Engineeringconcepts and a broad set of technical skills.
                <br><br>2.To prepare Mechanical Engineering graduates who will engage effectively and responsibly in practicing engineering.
                <br><br>3.To impart practical exposure on latest technological developments in Mechanical Engineering.
                <br>><h3>Programme Educational Objectives (PEOS):</h3>
                <b>On successful completion of UG in Mechanical engineering, the Graduates will be able to:</b>
                <br>1.Grab the opportunities in various mechanical Engineering industries and confident enough in their professional development.
                <br><br>2.Continue higher education and apply their creativity in research and development.
                <br><br>3.Concern the ethical values and make them responsible for the economical development of the nation.
                <br><br><h3>Programme Outcomes (POs):</h3>
                <b>On successful completion of UG in Mechanical Engineering, The graduate will be able to:</b>
                <br><br>1.Apply knowledge of mathematics, science and engineering for the solution of Design and Manufacturing problems.
                <br><br>2.Formulate and analyse various experimental data.
                <br><br>3.Design a system, component, or process to meet the society needs within realistic constraints such as economic, ethical, safety and sustainability.
                <br><br>4.Conduct experiments and investigate the experimental data for the effective performance.
                <br><br>5.Use the necessary modern engineering tools for mechanical engineering solutions.
                <br><br>6.Consider society needs in the development of engineering solutions.
                <br><br>7.Develop engineering solutions by considering environment and the need for sustainable development.
                <br><br>8.Apply various ethical theories on multidisciplinary groups.
                <br><br>9.Perform and implement the assigned task as individual and as a group member.
                <br><br>10.Communicate effectively.
                <br><br>11.Get updated with technological trends by continuous learning.
                <br><br>12.Apply knowledge and understanding the principles of management and finance in relation to engineering projects.
            </p>
        
        </div>
        <div style="height:600px;width:600px;margin-left:850px;margin-top:-2100px;">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab11.jpg'  %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab0.jpg' %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab1.jpg' %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'ab2.jpg' %}">
        </div>
    </body>
</html>