{% load static %}

<html>
    <head>

    </head>
    <body>
        
        <img style="height:100px;width:770px;margin-left:400px;" src="{% static 'Gates.png' %}">
        <img style="height:400px;width:1470px;" src="{% static 'python club.jpg'    %}">
        
        <h3 style="font-size: 30px;"><i> Python Club:</i></h3><div style="width:810px;text-align: justify;text-justify: inter-word;;font-size: 20px;">
            <p>The Python Club is a club for students or individuals who are interested in learning and practicing the Python programming language. The club provides a platform for members to improve their coding skills, participate in coding challenges and projects, and connect with like-minded individuals who share similar interests.
                <br><br><h3>Coding Challenges:</h3> The club can host coding challenges to allow members to practice their coding skills and apply what they have learned. The challenges can be open-ended or specific, with the aim of testing members' problem-solving abilities and creativity.
                <br><br><h3>Workshops:</h3> The club can invite guest speakers to conduct workshops on specific topics related to Python programming. The workshops can cover a wide range of topics like data visualization, game development, web scraping, and more.
                <br><br><h3>Community Building:</h3> The Python Club can be a great platform to build a community of like-minded individuals who share similar interests. The club can organize virtual social events, such as game nights or movie screenings, to provide members with an opportunity to connect and bond.

            </p>
        <br><br><br><br><br>President : R.Charan <br><br>
        Vice president	: B.Jhothi Bhathi<br><br>
        Secretary 		: D.Rasheeda<br><br>
        
        </div>
        <div style="height:600px;width:600px;margin-left:850px;margin-top:-900px;">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'pytho logo.jpg'  %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'pc1.jpg' %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'pc2.jpg' %}">
        </div>
    </body>
</html>