{% load static %}

<html>
    <head>

    </head>
    <body>
        <img style="height:100px;width:770px;margin-left:400px;" src="{% static 'Gates.png' %}">
        <img style="height:400px;width:1470px;" src="{% static 'Speaking Club.png'  %}">
        
        <h3 style="font-size: 30px;"><i> Speaking Club:</i></h3><div style="width:810px;text-align: justify;text-justify: inter-word;;font-size: 20px;">
            <p>
                <br><br><h3>Choose a platform:</h3> There are many online club management systems available, such as Club Express, Wild Apricot, and Member Planet. Choose one that fits the needs of your speaking club, such as one that allows for video conferencing, document sharing, and membership management.
                <br><br><h3>Set up the club:</h3> Create a new club within the online club management system and invite members to join. You can also set up membership levels and dues if necessary.
                <br><br><h3>Schedule meetings:</h3> Use the calendar feature of the online club management system to schedule regular meetings for the speaking club. Make sure to include the date, time, and topic of discussion for each meeting.
                <br><br><h3>Assign roles:</h3> Before each meeting, assign roles such as moderator, speaker, and evaluator. This will help ensure that the meeting runs smoothly and that everyone has a chance to participate.
                <br><br><h3>Conduct meetings:</h3> Use the video conferencing feature of the online club management system to conduct the speaking club meetings. During each meeting, members can give speeches, participate in impromptu speaking exercises, and provide feedback to one another.   
            </p>
            <br><br><br><br>
        President 		: P.Rahamthulla Babu <br><br>
        Vice president	: U.Udayanjali<br><br>
        Secretary 		: S.Moulali Baba<br><br>
        
        </div>
        <div style="height:600px;width:600px;margin-left:850px;margin-top:-1100px;">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'Speaking club.jpg'   %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'spc1.jpg'    %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'spc2.jpg'    %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'spc3.jpg'    %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'spc4.jpg'    %}">
        </div>
    </body>
</html>