{% load static %}

<html>
    <head>

    </head>
    <body>
        <img style="height:100px;width:770px;margin-left:400px;" src="{% static 'Gates.png' %}">
        <img style="height:400px;width:1470px;" src="{% static 'Women.png'  %}">
        
        <h3 style="font-size: 30px;"><i>WOMEN Enpwerment:</i></h3><div style="width:810px;font-size: 20px;text-align: justify;text-justify: inter-word;"><p>
            Empowering women with strength ,power and knowledge .Women are pillars of society ,we have to empower, educate and endorse them not only for the future society but its her right to get the educa
            tion and empowerment .We the Women Empowerment club strengthen her physically and mentally to shape her excellence in all aspects so that she could be independent in all ways possible.We try to figure out different issues that are being faced by women and try to untangle them with necessary awareness and education activities.
            <br><br>Women's empowerment has five components women's sense of self-worth, their right to have and to determine choices, their right to have access to opportunities and resources, their night to have power to control their own lives, both within and outside the home, and their ability to influence the direction of social change to create a more just social and economic order, nationally and internationally.
        <br><br>In this context, education, training, awareness raising, building self-confidence, expansion of choices, increased access to and control over resources, and actions to transform the structures and institutions that reinforce and perpetuate gender discrimination and inequality are important tools for empowering women and girls to claim their rights.
        </p><br><br><br>President 		: Rahamthulla <br><br>
        Vice president	: Udhayanjali<br><br>
        Secretary 		: Moulali<br><br>
        
        </div>
        <div style="height:600px;width:600px;margin-left:850px;margin-top:-600px;">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'coding club logo .jpg">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'cc1.jpg' %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'cc2.jpg' %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'cc3.jpg' %}">
            <img style="height:400px;width:600px;margin-top:10px;" src="{% static 'cc4.jpg' %}">
        </div>
    </body>
</html>